.backgroundColor-Red05{ background-color:#ffebee;}
.backgroundColor-Red1{ background-color:#ffcdd2;}
.backgroundColor-Red2{ background-color:#ef9a9a;}
.backgroundColor-Red3{ background-color:#e57373;}
.backgroundColor-Red4{ background-color:#ef5350;}
.backgroundColor-Red5{ background-color:#f44336;}
.backgroundColor-Red6{ background-color:#e53935;}
.backgroundColor-Red7{ background-color:#d32f2f;}
.backgroundColor-Red8{ background-color:#c62828;}
.backgroundColor-Red9{ background-color:#b71c1c;}
.backgroundColor-RedA1{ background-color:#ff8a80;}
.backgroundColor-RedA2{ background-color:#ff5252;}
.backgroundColor-RedA4{ background-color:#ff1744;}
.backgroundColor-RedA7{ background-color:#d50000;}

.backgroundColor-Pink05{ background-color:#fce4ec;}
.backgroundColor-Pink1{ background-color:#f8bbd0;}
.backgroundColor-Pink2{ background-color:#f48fb1;}
.backgroundColor-Pink3{ background-color:#f06292;}
.backgroundColor-Pink4{ background-color:#ec407a;}
.backgroundColor-Pink5{ background-color:#e91e63;}
.backgroundColor-Pink6{ background-color:#d81b60;}
.backgroundColor-Pink7{ background-color:#c2185b;}
.backgroundColor-Pink8{ background-color:#ad1457;}
.backgroundColor-Pink9{ background-color:#880e4f;}
.backgroundColor-PinkA1{ background-color:#ff80ab;}
.backgroundColor-PinkA2{ background-color:#ff4081;}
.backgroundColor-PinkA4{ background-color:#f50057;}
.backgroundColor-PinkA7{ background-color:#c51162;}

.backgroundColor-Purple05{ background-color:#f3e5f5;}
.backgroundColor-Purple1{ background-color:#e1bee7;}
.backgroundColor-Purple2{ background-color:#ce93d8;}
.backgroundColor-Purple3{ background-color:#ba68c8;}
.backgroundColor-Purple4{ background-color:#ab47bc;}
.backgroundColor-Purple5{ background-color:#9c27b0;}
.backgroundColor-Purple6{ background-color:#8e24aa;}
.backgroundColor-Purple7{ background-color:#7b1fa2;}
.backgroundColor-Purple8{ background-color:#6a1b9a;}
.backgroundColor-Purple9{ background-color:#4a148c;}
.backgroundColor-PurpleA1{ background-color:#ea80fc;}
.backgroundColor-PurpleA2{ background-color:#e040fb;}
.backgroundColor-PurpleA4{ background-color:#d500f9;}
.backgroundColor-PurpleA7{ background-color:#aa00ff;}

.backgroundColor-PurpleDeep05{ background-color:#ede7f6;}
.backgroundColor-PurpleDeep1{ background-color:#d1c4e9;}
.backgroundColor-PurpleDeep2{ background-color:#b39ddb;}
.backgroundColor-PurpleDeep3{ background-color:#9575cd;}
.backgroundColor-PurpleDeep4{ background-color:#7e57c2;}
.backgroundColor-PurpleDeep5{ background-color:#673ab7;}
.backgroundColor-PurpleDeep6{ background-color:#5e35b1;}
.backgroundColor-PurpleDeep7{ background-color:#512da8;}
.backgroundColor-PurpleDeep8{ background-color:#4527a0;}
.backgroundColor-PurpleDeep9{ background-color:#311b92;}
.backgroundColor-PurpleDeepA1{ background-color:#b388ff;}
.backgroundColor-PurpleDeepA2{ background-color:#7c4dff;}
.backgroundColor-PurpleDeepA4{ background-color:#651fff;}
.backgroundColor-PurpleDeepA7{ background-color:#6200ea;}

.backgroundColor-Indigo05{ background-color:#e8eaf6;}
.backgroundColor-Indigo1{ background-color:#c5cae9;}
.backgroundColor-Indigo2{ background-color:#9fa8da;}
.backgroundColor-Indigo3{ background-color:#7986cb;}
.backgroundColor-Indigo4{ background-color:#5c6bc0;}
.backgroundColor-Indigo5{ background-color:#3f51b5;}
.backgroundColor-Indigo6{ background-color:#3949ab;}
.backgroundColor-Indigo7{ background-color:#303f9f;}
.backgroundColor-Indigo8{ background-color:#283593;}
.backgroundColor-Indigo9{ background-color:#1a237e;}
.backgroundColor-IndigoA1{ background-color:#8c9eff;}
.backgroundColor-IndigoA2{ background-color:#536dfe;}
.backgroundColor-IndigoA4{ background-color:#3d5afe;}
.backgroundColor-IndigoA7{ background-color:#304ffe;}

.backgroundColor-Blue05{ background-color:#e3f2fd;}
.backgroundColor-Blue1{ background-color:#bbdefb;}
.backgroundColor-Blue2{ background-color:#90caf9;}
.backgroundColor-Blue3{ background-color:#64b5f6;}
.backgroundColor-Blue4{ background-color:#42a5f5;}
.backgroundColor-Blue5{ background-color:#2196f3;}
.backgroundColor-Blue6{ background-color:#1e88e5;}
.backgroundColor-Blue7{ background-color:#1976d2;}
.backgroundColor-Blue8{ background-color:#1565c0;}
.backgroundColor-Blue9{ background-color:#0d47a1;}
.backgroundColor-BlueA1{ background-color:#82b1ff;}
.backgroundColor-BlueA2{ background-color:#448aff;}
.backgroundColor-BlueA4{ background-color:#2979ff;}
.backgroundColor-BlueA7{ background-color:#2962ff;}

.backgroundColor-BlueLight05{ background-color:#e1f5fe;}
.backgroundColor-BlueLight1{ background-color:#b3e5fc;}
.backgroundColor-BlueLight2{ background-color:#81d4fa;}
.backgroundColor-BlueLight3{ background-color:#4fc3f7;}
.backgroundColor-BlueLight4{ background-color:#29b6f6;}
.backgroundColor-BlueLight5{ background-color:#03a9f4;}
.backgroundColor-BlueLight6{ background-color:#039be5;}
.backgroundColor-BlueLight7{ background-color:#0288d1;}
.backgroundColor-BlueLight8{ background-color:#0277bd;}
.backgroundColor-BlueLight9{ background-color:#01579b;}
.backgroundColor-BlueLightA1{ background-color:#80d8ff;}
.backgroundColor-BlueLightA2{ background-color:#40c4ff;}
.backgroundColor-BlueLightA4{ background-color:#00b0ff;}
.backgroundColor-BlueLightA7{ background-color:#0091ea;}

.backgroundColor-Cyan05{ background-color:#e0f7fa;}
.backgroundColor-Cyan1{ background-color:#b2ebf2;}
.backgroundColor-Cyan2{ background-color:#80deea;}
.backgroundColor-Cyan3{ background-color:#4dd0e1;}
.backgroundColor-Cyan4{ background-color:#26c6da;}
.backgroundColor-Cyan5{ background-color:#00bcd4;}
.backgroundColor-Cyan6{ background-color:#00acc1;}
.backgroundColor-Cyan7{ background-color:#0097a7;}
.backgroundColor-Cyan8{ background-color:#00838f;}
.backgroundColor-Cyan9{ background-color:#006064;}
.backgroundColor-CyanA1{ background-color:#84ffff;}
.backgroundColor-CyanA2{ background-color:#18ffff;}
.backgroundColor-CyanA4{ background-color:#00e5ff;}
.backgroundColor-CyanA7{ background-color:#00b8d4;}

.backgroundColor-Teal05{ background-color:#e0f2f1;}
.backgroundColor-Teal1{ background-color:#b2dfdb;}
.backgroundColor-Teal2{ background-color:#80cbc4;}
.backgroundColor-Teal3{ background-color:#4db6ac;}
.backgroundColor-Teal4{ background-color:#26a69a;}
.backgroundColor-Teal5{ background-color:#009688;}
.backgroundColor-Teal6{ background-color:#00897b;}
.backgroundColor-Teal7{ background-color:#00796b;}
.backgroundColor-Teal8{ background-color:#00695c;}
.backgroundColor-Teal9{ background-color:#004d40;}
.backgroundColor-TealA1{ background-color:#a7ffeb;}
.backgroundColor-TealA2{ background-color:#64ffda;}
.backgroundColor-TealA4{ background-color:#1de9b6;}
.backgroundColor-TealA7{ background-color:#00bfa5;}

.backgroundColor-Green05{ background-color:#e8f5e9;}
.backgroundColor-Green1{ background-color:#c8e6c9;}
.backgroundColor-Green2{ background-color:#a5d6a7;}
.backgroundColor-Green3{ background-color:#81c784;}
.backgroundColor-Green4{ background-color:#66bb6a;}
.backgroundColor-Green5{ background-color:#4caf50;}
.backgroundColor-Green6{ background-color:#43a047;}
.backgroundColor-Green7{ background-color:#388e3c;}
.backgroundColor-Green8{ background-color:#2e7d32;}
.backgroundColor-Green9{ background-color:#1b5e20;}
.backgroundColor-GreenA1{ background-color:#b9f6ca;}
.backgroundColor-GreenA2{ background-color:#69f0ae;}
.backgroundColor-GreenA4{ background-color:#00e676;}
.backgroundColor-GreenA7{ background-color:#00c853;}

.backgroundColor-GreenLight05{ background-color:#f1f8e9;}
.backgroundColor-GreenLight1{ background-color:#dcedc8;}
.backgroundColor-GreenLight2{ background-color:#c5e1a5;}
.backgroundColor-GreenLight3{ background-color:#aed581;}
.backgroundColor-GreenLight4{ background-color:#9ccc65;}
.backgroundColor-GreenLight5{ background-color:#8bc34a;}
.backgroundColor-GreenLight6{ background-color:#7cb342;}
.backgroundColor-GreenLight7{ background-color:#689f38;}
.backgroundColor-GreenLight8{ background-color:#558b2f;}
.backgroundColor-GreenLight9{ background-color:#33691e;}
.backgroundColor-GreenLightA1{ background-color:#ccff90;}
.backgroundColor-GreenLightA2{ background-color:#b2ff59;}
.backgroundColor-GreenLightA4{ background-color:#76ff03;}
.backgroundColor-GreenLightA7{ background-color:#64dd17;}

.backgroundColor-Lime05{ background-color:#f9fbe7;}
.backgroundColor-Lime1{ background-color:#f0f4c3;}
.backgroundColor-Lime2{ background-color:#e6ee9c;}
.backgroundColor-Lime3{ background-color:#dce775;}
.backgroundColor-Lime4{ background-color:#d4e157;}
.backgroundColor-Lime5{ background-color:#cddc39;}
.backgroundColor-Lime6{ background-color:#c0ca33;}
.backgroundColor-Lime7{ background-color:#afb42b;}
.backgroundColor-Lime8{ background-color:#9e9d24;}
.backgroundColor-Lime9{ background-color:#827717;}
.backgroundColor-LimeA1{ background-color:#f4ff81;}
.backgroundColor-LimeA2{ background-color:#eeff41;}
.backgroundColor-LimeA4{ background-color:#c6ff00;}
.backgroundColor-LimeA7{ background-color:#aeea00;}

.backgroundColor-Yellow05{ background-color:#fffde7;}
.backgroundColor-Yellow1{ background-color:#fff9c4;}
.backgroundColor-Yellow2{ background-color:#fff59d;}
.backgroundColor-Yellow3{ background-color:#fff176;}
.backgroundColor-Yellow4{ background-color:#ffee58;}
.backgroundColor-Yellow5{ background-color:#ffeb3b;}
.backgroundColor-Yellow6{ background-color:#fdd835;}
.backgroundColor-Yellow7{ background-color:#fbc02d;}
.backgroundColor-Yellow8{ background-color:#f9a825;}
.backgroundColor-Yellow9{ background-color:#f57f17;}
.backgroundColor-YellowA1{ background-color:#ffff8d;}
.backgroundColor-YellowA2{ background-color:#ffff00;}
.backgroundColor-YellowA4{ background-color:#ffea00;}
.backgroundColor-YellowA7{ background-color:#ffd600;}

.backgroundColor-Amber05{ background-color:#fff8e1;}
.backgroundColor-Amber1{ background-color:#ffecb3;}
.backgroundColor-Amber2{ background-color:#ffe082;}
.backgroundColor-Amber3{ background-color:#ffd54f;}
.backgroundColor-Amber4{ background-color:#ffca28;}
.backgroundColor-Amber5{ background-color:#ffc107;}
.backgroundColor-Amber6{ background-color:#ffb300;}
.backgroundColor-Amber7{ background-color:#ffa000;}
.backgroundColor-Amber8{ background-color:#ff8f00;}
.backgroundColor-Amber9{ background-color:#3a2525;}
.backgroundColor-AmberA1{ background-color:#ffe57f;}
.backgroundColor-AmberA2{ background-color:#ffd740;}
.backgroundColor-AmberA4{ background-color:#ffc400;}
.backgroundColor-AmberA7{ background-color:#ffab00;}

.backgroundColor-Orange05{ background-color:#fff3e0;}
.backgroundColor-Orange1{ background-color:#ffe0b2;}
.backgroundColor-Orange2{ background-color:#ffcc80;}
.backgroundColor-Orange3{ background-color:#ffb74d;}
.backgroundColor-Orange4{ background-color:#ffa726;}
.backgroundColor-Orange5{ background-color:#ff9800;}
.backgroundColor-Orange6{ background-color:#fb8c00;}
.backgroundColor-Orange7{ background-color:#f57c00;}
.backgroundColor-Orange8{ background-color:#ef6c00;}
.backgroundColor-Orange9{ background-color:#e65100;}
.backgroundColor-OrangeA1{ background-color:#ffd180;}
.backgroundColor-OrangeA2{ background-color:#ffab40;}
.backgroundColor-OrangeA4{ background-color:#ff9100;}
.backgroundColor-OrangeA7{ background-color:#ff6d00;}

.backgroundColor-OrangeDeep05{ background-color:#fbe9e7;}
.backgroundColor-OrangeDeep1{ background-color:#ffccbc;}
.backgroundColor-OrangeDeep2{ background-color:#ffab91;}
.backgroundColor-OrangeDeep3{ background-color:#ff8a65;}
.backgroundColor-OrangeDeep4{ background-color:#ff7043;}
.backgroundColor-OrangeDeep5{ background-color:#ff5722;}
.backgroundColor-OrangeDeep6{ background-color:#f4511e;}
.backgroundColor-OrangeDeep7{ background-color:#e64a19;}
.backgroundColor-OrangeDeep8{ background-color:#d84315;}
.backgroundColor-OrangeDeep9{ background-color:#bf360c;}
.backgroundColor-OrangeDeepA1{ background-color:#ff9e80;}
.backgroundColor-OrangeDeepA2{ background-color:#ff6e40;}
.backgroundColor-OrangeDeepA4{ background-color:#ff3d00;}
.backgroundColor-OrangeDeepA7{ background-color:#dd2c00;}

.backgroundColor-Brown05{ background-color:#efebe9;}
.backgroundColor-Brown1{ background-color:#d7ccc8;}
.backgroundColor-Brown2{ background-color:#bcaaa4;}
.backgroundColor-Brown3{ background-color:#a1887f;}
.backgroundColor-Brown4{ background-color:#8d6e63;}
.backgroundColor-Brown5{ background-color:#795548;}
.backgroundColor-Brown6{ background-color:#6d4c41;}
.backgroundColor-Brown7{ background-color:#5d4037;}
.backgroundColor-Brown8{ background-color:#4e342e;}
.backgroundColor-Brown9{ background-color:#3e2723;}

.backgroundColor-Grey05{ background-color:#fafafa;}
.backgroundColor-Grey1{ background-color:#f5f5f5;}
.backgroundColor-Grey2{ background-color:#eeeeee;}
.backgroundColor-Grey3{ background-color:#e0e0e0;}
.backgroundColor-Grey4{ background-color:#bdbdbd;}
.backgroundColor-Grey5{ background-color:#9e9e9e;}
.backgroundColor-Grey6{ background-color:#757575;}
.backgroundColor-Grey7{ background-color:#616161;}
.backgroundColor-Grey8{ background-color:#424242;}
.backgroundColor-Grey9{ background-color:#212121;}

.backgroundColor-BlueGrey05{ background-color:#eceff1;}
.backgroundColor-BlueGrey1{ background-color:#cfd8dc;}
.backgroundColor-BlueGrey2{ background-color:#b0bec5;}
.backgroundColor-BlueGrey3{ background-color:#90a4ae;}
.backgroundColor-BlueGrey4{ background-color:#78909c;}
.backgroundColor-BlueGrey5{ background-color:#607d8b;}
.backgroundColor-BlueGrey6{ background-color:#546e7a;}
.backgroundColor-BlueGrey7{ background-color:#455a64;}
.backgroundColor-BlueGrey8{ background-color:#37474f;}
.backgroundColor-BlueGrey9{ background-color:#263238;}

.backgroundColor-Transparent{ background-color:rgba(0, 0, 0, 0);}
.backgroundColor-Black{ background-color:rgba(0, 0, 0, 1);}
.backgroundColor-Black1{ background-color:rgba(0, 0, 0, 0.87);}
.backgroundColor-Black2{ background-color:rgba(0, 0, 0, 0.54);}
.backgroundColor-Black3{ background-color:rgba(0, 0, 0, 0.26);}
.backgroundColor-Black4{ background-color:rgba(0, 0, 0, 0.12);}
.backgroundColor-White{ background-color:rgba(255, 255, 255, 1);}
.backgroundColor-White1{ background-color:rgba(255, 255, 255, 0.87);}
.backgroundColor-White2{ background-color:rgba(255, 255, 255, 0.54);}

/*--------------*/

.color-Red05{ color:#ffebee;}
.color-Red1{ color:#ffcdd2;}
.color-Red2{ color:#ef9a9a;}
.color-Red3{ color:#e57373;}
.color-Red4{ color:#ef5350;}
.color-Red5{ color:#f44336;}
.color-Red6{ color:#e53935;}
.color-Red7{ color:#d32f2f;}
.color-Red8{ color:#c62828;}
.color-Red9{ color:#b71c1c;}
.color-RedA1{ color:#ff8a80;}
.color-RedA2{ color:#ff5252;}
.color-RedA4{ color:#ff1744;}
.color-RedA7{ color:#d50000;}

.color-Pink05{ color:#fce4ec;}
.color-Pink1{ color:#f8bbd0;}
.color-Pink2{ color:#f48fb1;}
.color-Pink3{ color:#f06292;}
.color-Pink4{ color:#ec407a;}
.color-Pink5{ color:#e91e63;}
.color-Pink6{ color:#d81b60;}
.color-Pink7{ color:#c2185b;}
.color-Pink8{ color:#ad1457;}
.color-Pink9{ color:#880e4f;}
.color-PinkA1{ color:#ff80ab;}
.color-PinkA2{ color:#ff4081;}
.color-PinkA4{ color:#f50057;}
.color-PinkA7{ color:#c51162;}

.color-Purple05{ color:#f3e5f5;}
.color-Purple1{ color:#e1bee7;}
.color-Purple2{ color:#ce93d8;}
.color-Purple3{ color:#ba68c8;}
.color-Purple4{ color:#ab47bc;}
.color-Purple5{ color:#9c27b0;}
.color-Purple6{ color:#8e24aa;}
.color-Purple7{ color:#7b1fa2;}
.color-Purple8{ color:#6a1b9a;}
.color-Purple9{ color:#4a148c;}
.color-PurpleA1{ color:#ea80fc;}
.color-PurpleA2{ color:#e040fb;}
.color-PurpleA4{ color:#d500f9;}
.color-PurpleA7{ color:#aa00ff;}

.color-PurpleDeep05{ color:#ede7f6;}
.color-PurpleDeep1{ color:#d1c4e9;}
.color-PurpleDeep2{ color:#b39ddb;}
.color-PurpleDeep3{ color:#9575cd;}
.color-PurpleDeep4{ color:#7e57c2;}
.color-PurpleDeep5{ color:#673ab7;}
.color-PurpleDeep6{ color:#5e35b1;}
.color-PurpleDeep7{ color:#512da8;}
.color-PurpleDeep8{ color:#4527a0;}
.color-PurpleDeep9{ color:#311b92;}
.color-PurpleDeepA1{ color:#b388ff;}
.color-PurpleDeepA2{ color:#7c4dff;}
.color-PurpleDeepA4{ color:#651fff;}
.color-PurpleDeepA7{ color:#6200ea;}

.color-Indigo05{ color:#e8eaf6;}
.color-Indigo1{ color:#c5cae9;}
.color-Indigo2{ color:#9fa8da;}
.color-Indigo3{ color:#7986cb;}
.color-Indigo4{ color:#5c6bc0;}
.color-Indigo5{ color:#3f51b5;}
.color-Indigo6{ color:#3949ab;}
.color-Indigo7{ color:#303f9f;}
.color-Indigo8{ color:#283593;}
.color-Indigo9{ color:#1a237e;}
.color-IndigoA1{ color:#8c9eff;}
.color-IndigoA2{ color:#536dfe;}
.color-IndigoA4{ color:#3d5afe;}
.color-IndigoA7{ color:#304ffe;}

.color-Blue05{ color:#e3f2fd;}
.color-Blue1{ color:#bbdefb;}
.color-Blue2{ color:#90caf9;}
.color-Blue3{ color:#64b5f6;}
.color-Blue4{ color:#42a5f5;}
.color-Blue5{ color:#2196f3;}
.color-Blue6{ color:#1e88e5;}
.color-Blue7{ color:#1976d2;}
.color-Blue8{ color:#1565c0;}
.color-Blue9{ color:#0d47a1;}
.color-BlueA1{ color:#82b1ff;}
.color-BlueA2{ color:#448aff;}
.color-BlueA4{ color:#2979ff;}
.color-BlueA7{ color:#2962ff;}

.color-BlueLight05{ color:#e1f5fe;}
.color-BlueLight1{ color:#b3e5fc;}
.color-BlueLight2{ color:#81d4fa;}
.color-BlueLight3{ color:#4fc3f7;}
.color-BlueLight4{ color:#29b6f6;}
.color-BlueLight5{ color:#03a9f4;}
.color-BlueLight6{ color:#039be5;}
.color-BlueLight7{ color:#0288d1;}
.color-BlueLight8{ color:#0277bd;}
.color-BlueLight9{ color:#01579b;}
.color-BlueLightA1{ color:#80d8ff;}
.color-BlueLightA2{ color:#40c4ff;}
.color-BlueLightA4{ color:#00b0ff;}
.color-BlueLightA7{ color:#0091ea;}

.color-Cyan05{ color:#e0f7fa;}
.color-Cyan1{ color:#b2ebf2;}
.color-Cyan2{ color:#80deea;}
.color-Cyan3{ color:#4dd0e1;}
.color-Cyan4{ color:#26c6da;}
.color-Cyan5{ color:#00bcd4;}
.color-Cyan6{ color:#00acc1;}
.color-Cyan7{ color:#0097a7;}
.color-Cyan8{ color:#00838f;}
.color-Cyan9{ color:#006064;}
.color-CyanA1{ color:#84ffff;}
.color-CyanA2{ color:#18ffff;}
.color-CyanA4{ color:#00e5ff;}
.color-CyanA7{ color:#00b8d4;}

.color-Teal05{ color:#e0f2f1;}
.color-Teal1{ color:#b2dfdb;}
.color-Teal2{ color:#80cbc4;}
.color-Teal3{ color:#4db6ac;}
.color-Teal4{ color:#26a69a;}
.color-Teal5{ color:#009688;}
.color-Teal6{ color:#00897b;}
.color-Teal7{ color:#00796b;}
.color-Teal8{ color:#00695c;}
.color-Teal9{ color:#004d40;}
.color-TealA1{ color:#a7ffeb;}
.color-TealA2{ color:#64ffda;}
.color-TealA4{ color:#1de9b6;}
.color-TealA7{ color:#00bfa5;}

.color-Green05{ color:#e8f5e9;}
.color-Green1{ color:#c8e6c9;}
.color-Green2{ color:#a5d6a7;}
.color-Green3{ color:#81c784;}
.color-Green4{ color:#66bb6a;}
.color-Green5{ color:#4caf50;}
.color-Green6{ color:#43a047;}
.color-Green7{ color:#388e3c;}
.color-Green8{ color:#2e7d32;}
.color-Green9{ color:#1b5e20;}
.color-GreenA1{ color:#b9f6ca;}
.color-GreenA2{ color:#69f0ae;}
.color-GreenA4{ color:#00e676;}
.color-GreenA7{ color:#00c853;}

.color-GreenLight05{ color:#f1f8e9;}
.color-GreenLight1{ color:#dcedc8;}
.color-GreenLight2{ color:#c5e1a5;}
.color-GreenLight3{ color:#aed581;}
.color-GreenLight4{ color:#9ccc65;}
.color-GreenLight5{ color:#8bc34a;}
.color-GreenLight6{ color:#7cb342;}
.color-GreenLight7{ color:#689f38;}
.color-GreenLight8{ color:#558b2f;}
.color-GreenLight9{ color:#33691e;}
.color-GreenLightA1{ color:#ccff90;}
.color-GreenLightA2{ color:#b2ff59;}
.color-GreenLightA4{ color:#76ff03;}
.color-GreenLightA7{ color:#64dd17;}

.color-Lime05{ color:#f9fbe7;}
.color-Lime1{ color:#f0f4c3;}
.color-Lime2{ color:#e6ee9c;}
.color-Lime3{ color:#dce775;}
.color-Lime4{ color:#d4e157;}
.color-Lime5{ color:#cddc39;}
.color-Lime6{ color:#c0ca33;}
.color-Lime7{ color:#afb42b;}
.color-Lime8{ color:#9e9d24;}
.color-Lime9{ color:#827717;}
.color-LimeA1{ color:#f4ff81;}
.color-LimeA2{ color:#eeff41;}
.color-LimeA4{ color:#c6ff00;}
.color-LimeA7{ color:#aeea00;}

.color-Yellow05{ color:#fffde7;}
.color-Yellow1{ color:#fff9c4;}
.color-Yellow2{ color:#fff59d;}
.color-Yellow3{ color:#fff176;}
.color-Yellow4{ color:#ffee58;}
.color-Yellow5{ color:#ffeb3b;}
.color-Yellow6{ color:#fdd835;}
.color-Yellow7{ color:#fbc02d;}
.color-Yellow8{ color:#f9a825;}
.color-Yellow9{ color:#f57f17;}
.color-YellowA1{ color:#ffff8d;}
.color-YellowA2{ color:#ffff00;}
.color-YellowA4{ color:#ffea00;}
.color-YellowA7{ color:#ffd600;}

.color-Amber05{ color:#fff8e1;}
.color-Amber1{ color:#ffecb3;}
.color-Amber2{ color:#ffe082;}
.color-Amber3{ color:#ffd54f;}
.color-Amber4{ color:#ffca28;}
.color-Amber5{ color:#ffc107;}
.color-Amber6{ color:#ffb300;}
.color-Amber7{ color:#ffa000;}
.color-Amber8{ color:#ff8f00;}
.color-Amber9{ color:#3a2525;}
.color-AmberA1{ color:#ffe57f;}
.color-AmberA2{ color:#ffd740;}
.color-AmberA4{ color:#ffc400;}
.color-AmberA7{ color:#ffab00;}

.color-Orange05{ color:#fff3e0;}
.color-Orange1{ color:#ffe0b2;}
.color-Orange2{ color:#ffcc80;}
.color-Orange3{ color:#ffb74d;}
.color-Orange4{ color:#ffa726;}
.color-Orange5{ color:#ff9800;}
.color-Orange6{ color:#fb8c00;}
.color-Orange7{ color:#f57c00;}
.color-Orange8{ color:#ef6c00;}
.color-Orange9{ color:#e65100;}
.color-OrangeA1{ color:#ffd180;}
.color-OrangeA2{ color:#ffab40;}
.color-OrangeA4{ color:#ff9100;}
.color-OrangeA7{ color:#ff6d00;}

.color-OrangeDeep05{ color:#fbe9e7;}
.color-OrangeDeep1{ color:#ffccbc;}
.color-OrangeDeep2{ color:#ffab91;}
.color-OrangeDeep3{ color:#ff8a65;}
.color-OrangeDeep4{ color:#ff7043;}
.color-OrangeDeep5{ color:#ff5722;}
.color-OrangeDeep6{ color:#f4511e;}
.color-OrangeDeep7{ color:#e64a19;}
.color-OrangeDeep8{ color:#d84315;}
.color-OrangeDeep9{ color:#bf360c;}
.color-OrangeDeepA1{ color:#ff9e80;}
.color-OrangeDeepA2{ color:#ff6e40;}
.color-OrangeDeepA4{ color:#ff3d00;}
.color-OrangeDeepA7{ color:#dd2c00;}

.color-Brown05{ color:#efebe9;}
.color-Brown1{ color:#d7ccc8;}
.color-Brown2{ color:#bcaaa4;}
.color-Brown3{ color:#a1887f;}
.color-Brown4{ color:#8d6e63;}
.color-Brown5{ color:#795548;}
.color-Brown6{ color:#6d4c41;}
.color-Brown7{ color:#5d4037;}
.color-Brown8{ color:#4e342e;}
.color-Brown9{ color:#3e2723;}

.color-Grey05{ color:#fafafa;}
.color-Grey1{ color:#f5f5f5;}
.color-Grey2{ color:#eeeeee;}
.color-Grey3{ color:#e0e0e0;}
.color-Grey4{ color:#bdbdbd;}
.color-Grey5{ color:#9e9e9e;}
.color-Grey6{ color:#757575;}
.color-Grey7{ color:#616161;}
.color-Grey8{ color:#424242;}
.color-Grey9{ color:#212121;}

.color-BlueGrey05{ color:#eceff1;}
.color-BlueGrey1{ color:#cfd8dc;}
.color-BlueGrey2{ color:#b0bec5;}
.color-BlueGrey3{ color:#90a4ae;}
.color-BlueGrey4{ color:#78909c;}
.color-BlueGrey5{ color:#607d8b;}
.color-BlueGrey6{ color:#546e7a;}
.color-BlueGrey7{ color:#455a64;}
.color-BlueGrey8{ color:#37474f;}
.color-BlueGrey9{ color:#263238;}

.color-Transparent{ color:rgba(0, 0, 0, 0);}
.color-Black{ color:rgba(0, 0, 0, 1);}
.color-Black1{ color:rgba(0, 0, 0, 0.87);}
.color-Black2{ color:rgba(0, 0, 0, 0.54);}
.color-Black3{ color:rgba(0, 0, 0, 0.26);}
.color-Black4{ color:rgba(0, 0, 0, 0.12);}
.color-White{ color:rgba(255, 255, 255, 1);}
.color-White1{ color:rgba(255, 255, 255, 0.87);}
.color-White2{ color:rgba(255, 255, 255, 0.54);}
/*--------------*/

.fill-Red05{ fill:#ffebee;}
.fill-Red1{ fill:#ffcdd2;}
.fill-Red2{ fill:#ef9a9a;}
.fill-Red3{ fill:#e57373;}
.fill-Red4{ fill:#ef5350;}
.fill-Red5{ fill:#f44336;}
.fill-Red6{ fill:#e53935;}
.fill-Red7{ fill:#d32f2f;}
.fill-Red8{ fill:#c62828;}
.fill-Red9{ fill:#b71c1c;}
.fill-RedA1{ fill:#ff8a80;}
.fill-RedA2{ fill:#ff5252;}
.fill-RedA4{ fill:#ff1744;}
.fill-RedA7{ fill:#d50000;}

.fill-Pink05{ fill:#fce4ec;}
.fill-Pink1{ fill:#f8bbd0;}
.fill-Pink2{ fill:#f48fb1;}
.fill-Pink3{ fill:#f06292;}
.fill-Pink4{ fill:#ec407a;}
.fill-Pink5{ fill:#e91e63;}
.fill-Pink6{ fill:#d81b60;}
.fill-Pink7{ fill:#c2185b;}
.fill-Pink8{ fill:#ad1457;}
.fill-Pink9{ fill:#880e4f;}
.fill-PinkA1{ fill:#ff80ab;}
.fill-PinkA2{ fill:#ff4081;}
.fill-PinkA4{ fill:#f50057;}
.fill-PinkA7{ fill:#c51162;}

.fill-Purple05{ fill:#f3e5f5;}
.fill-Purple1{ fill:#e1bee7;}
.fill-Purple2{ fill:#ce93d8;}
.fill-Purple3{ fill:#ba68c8;}
.fill-Purple4{ fill:#ab47bc;}
.fill-Purple5{ fill:#9c27b0;}
.fill-Purple6{ fill:#8e24aa;}
.fill-Purple7{ fill:#7b1fa2;}
.fill-Purple8{ fill:#6a1b9a;}
.fill-Purple9{ fill:#4a148c;}
.fill-PurpleA1{ fill:#ea80fc;}
.fill-PurpleA2{ fill:#e040fb;}
.fill-PurpleA4{ fill:#d500f9;}
.fill-PurpleA7{ fill:#aa00ff;}

.fill-PurpleDeep05{ fill:#ede7f6;}
.fill-PurpleDeep1{ fill:#d1c4e9;}
.fill-PurpleDeep2{ fill:#b39ddb;}
.fill-PurpleDeep3{ fill:#9575cd;}
.fill-PurpleDeep4{ fill:#7e57c2;}
.fill-PurpleDeep5{ fill:#673ab7;}
.fill-PurpleDeep6{ fill:#5e35b1;}
.fill-PurpleDeep7{ fill:#512da8;}
.fill-PurpleDeep8{ fill:#4527a0;}
.fill-PurpleDeep9{ fill:#311b92;}
.fill-PurpleDeepA1{ fill:#b388ff;}
.fill-PurpleDeepA2{ fill:#7c4dff;}
.fill-PurpleDeepA4{ fill:#651fff;}
.fill-PurpleDeepA7{ fill:#6200ea;}

.fill-Indigo05{ fill:#e8eaf6;}
.fill-Indigo1{ fill:#c5cae9;}
.fill-Indigo2{ fill:#9fa8da;}
.fill-Indigo3{ fill:#7986cb;}
.fill-Indigo4{ fill:#5c6bc0;}
.fill-Indigo5{ fill:#3f51b5;}
.fill-Indigo6{ fill:#3949ab;}
.fill-Indigo7{ fill:#303f9f;}
.fill-Indigo8{ fill:#283593;}
.fill-Indigo9{ fill:#1a237e;}
.fill-IndigoA1{ fill:#8c9eff;}
.fill-IndigoA2{ fill:#536dfe;}
.fill-IndigoA4{ fill:#3d5afe;}
.fill-IndigoA7{ fill:#304ffe;}

.fill-Blue05{ fill:#e3f2fd;}
.fill-Blue1{ fill:#bbdefb;}
.fill-Blue2{ fill:#90caf9;}
.fill-Blue3{ fill:#64b5f6;}
.fill-Blue4{ fill:#42a5f5;}
.fill-Blue5{ fill:#2196f3;}
.fill-Blue6{ fill:#1e88e5;}
.fill-Blue7{ fill:#1976d2;}
.fill-Blue8{ fill:#1565c0;}
.fill-Blue9{ fill:#0d47a1;}
.fill-BlueA1{ fill:#82b1ff;}
.fill-BlueA2{ fill:#448aff;}
.fill-BlueA4{ fill:#2979ff;}
.fill-BlueA7{ fill:#2962ff;}

.fill-BlueLight05{ fill:#e1f5fe;}
.fill-BlueLight1{ fill:#b3e5fc;}
.fill-BlueLight2{ fill:#81d4fa;}
.fill-BlueLight3{ fill:#4fc3f7;}
.fill-BlueLight4{ fill:#29b6f6;}
.fill-BlueLight5{ fill:#03a9f4;}
.fill-BlueLight6{ fill:#039be5;}
.fill-BlueLight7{ fill:#0288d1;}
.fill-BlueLight8{ fill:#0277bd;}
.fill-BlueLight9{ fill:#01579b;}
.fill-BlueLightA1{ fill:#80d8ff;}
.fill-BlueLightA2{ fill:#40c4ff;}
.fill-BlueLightA4{ fill:#00b0ff;}
.fill-BlueLightA7{ fill:#0091ea;}

.fill-Cyan05{ fill:#e0f7fa;}
.fill-Cyan1{ fill:#b2ebf2;}
.fill-Cyan2{ fill:#80deea;}
.fill-Cyan3{ fill:#4dd0e1;}
.fill-Cyan4{ fill:#26c6da;}
.fill-Cyan5{ fill:#00bcd4;}
.fill-Cyan6{ fill:#00acc1;}
.fill-Cyan7{ fill:#0097a7;}
.fill-Cyan8{ fill:#00838f;}
.fill-Cyan9{ fill:#006064;}
.fill-CyanA1{ fill:#84ffff;}
.fill-CyanA2{ fill:#18ffff;}
.fill-CyanA4{ fill:#00e5ff;}
.fill-CyanA7{ fill:#00b8d4;}

.fill-Teal05{ fill:#e0f2f1;}
.fill-Teal1{ fill:#b2dfdb;}
.fill-Teal2{ fill:#80cbc4;}
.fill-Teal3{ fill:#4db6ac;}
.fill-Teal4{ fill:#26a69a;}
.fill-Teal5{ fill:#009688;}
.fill-Teal6{ fill:#00897b;}
.fill-Teal7{ fill:#00796b;}
.fill-Teal8{ fill:#00695c;}
.fill-Teal9{ fill:#004d40;}
.fill-TealA1{ fill:#a7ffeb;}
.fill-TealA2{ fill:#64ffda;}
.fill-TealA4{ fill:#1de9b6;}
.fill-TealA7{ fill:#00bfa5;}

.fill-Green05{ fill:#e8f5e9;}
.fill-Green1{ fill:#c8e6c9;}
.fill-Green2{ fill:#a5d6a7;}
.fill-Green3{ fill:#81c784;}
.fill-Green4{ fill:#66bb6a;}
.fill-Green5{ fill:#4caf50;}
.fill-Green6{ fill:#43a047;}
.fill-Green7{ fill:#388e3c;}
.fill-Green8{ fill:#2e7d32;}
.fill-Green9{ fill:#1b5e20;}
.fill-GreenA1{ fill:#b9f6ca;}
.fill-GreenA2{ fill:#69f0ae;}
.fill-GreenA4{ fill:#00e676;}
.fill-GreenA7{ fill:#00c853;}

.fill-GreenLight05{ fill:#f1f8e9;}
.fill-GreenLight1{ fill:#dcedc8;}
.fill-GreenLight2{ fill:#c5e1a5;}
.fill-GreenLight3{ fill:#aed581;}
.fill-GreenLight4{ fill:#9ccc65;}
.fill-GreenLight5{ fill:#8bc34a;}
.fill-GreenLight6{ fill:#7cb342;}
.fill-GreenLight7{ fill:#689f38;}
.fill-GreenLight8{ fill:#558b2f;}
.fill-GreenLight9{ fill:#33691e;}
.fill-GreenLightA1{ fill:#ccff90;}
.fill-GreenLightA2{ fill:#b2ff59;}
.fill-GreenLightA4{ fill:#76ff03;}
.fill-GreenLightA7{ fill:#64dd17;}

.fill-Lime05{ fill:#f9fbe7;}
.fill-Lime1{ fill:#f0f4c3;}
.fill-Lime2{ fill:#e6ee9c;}
.fill-Lime3{ fill:#dce775;}
.fill-Lime4{ fill:#d4e157;}
.fill-Lime5{ fill:#cddc39;}
.fill-Lime6{ fill:#c0ca33;}
.fill-Lime7{ fill:#afb42b;}
.fill-Lime8{ fill:#9e9d24;}
.fill-Lime9{ fill:#827717;}
.fill-LimeA1{ fill:#f4ff81;}
.fill-LimeA2{ fill:#eeff41;}
.fill-LimeA4{ fill:#c6ff00;}
.fill-LimeA7{ fill:#aeea00;}

.fill-Yellow05{ fill:#fffde7;}
.fill-Yellow1{ fill:#fff9c4;}
.fill-Yellow2{ fill:#fff59d;}
.fill-Yellow3{ fill:#fff176;}
.fill-Yellow4{ fill:#ffee58;}
.fill-Yellow5{ fill:#ffeb3b;}
.fill-Yellow6{ fill:#fdd835;}
.fill-Yellow7{ fill:#fbc02d;}
.fill-Yellow8{ fill:#f9a825;}
.fill-Yellow9{ fill:#f57f17;}
.fill-YellowA1{ fill:#ffff8d;}
.fill-YellowA2{ fill:#ffff00;}
.fill-YellowA4{ fill:#ffea00;}
.fill-YellowA7{ fill:#ffd600;}

.fill-Amber05{ fill:#fff8e1;}
.fill-Amber1{ fill:#ffecb3;}
.fill-Amber2{ fill:#ffe082;}
.fill-Amber3{ fill:#ffd54f;}
.fill-Amber4{ fill:#ffca28;}
.fill-Amber5{ fill:#ffc107;}
.fill-Amber6{ fill:#ffb300;}
.fill-Amber7{ fill:#ffa000;}
.fill-Amber8{ fill:#ff8f00;}
.fill-Amber9{ fill:#3a2525;}
.fill-AmberA1{ fill:#ffe57f;}
.fill-AmberA2{ fill:#ffd740;}
.fill-AmberA4{ fill:#ffc400;}
.fill-AmberA7{ fill:#ffab00;}

.fill-Orange05{ fill:#fff3e0;}
.fill-Orange1{ fill:#ffe0b2;}
.fill-Orange2{ fill:#ffcc80;}
.fill-Orange3{ fill:#ffb74d;}
.fill-Orange4{ fill:#ffa726;}
.fill-Orange5{ fill:#ff9800;}
.fill-Orange6{ fill:#fb8c00;}
.fill-Orange7{ fill:#f57c00;}
.fill-Orange8{ fill:#ef6c00;}
.fill-Orange9{ fill:#e65100;}
.fill-OrangeA1{ fill:#ffd180;}
.fill-OrangeA2{ fill:#ffab40;}
.fill-OrangeA4{ fill:#ff9100;}
.fill-OrangeA7{ fill:#ff6d00;}

.fill-OrangeDeep05{ fill:#fbe9e7;}
.fill-OrangeDeep1{ fill:#ffccbc;}
.fill-OrangeDeep2{ fill:#ffab91;}
.fill-OrangeDeep3{ fill:#ff8a65;}
.fill-OrangeDeep4{ fill:#ff7043;}
.fill-OrangeDeep5{ fill:#ff5722;}
.fill-OrangeDeep6{ fill:#f4511e;}
.fill-OrangeDeep7{ fill:#e64a19;}
.fill-OrangeDeep8{ fill:#d84315;}
.fill-OrangeDeep9{ fill:#bf360c;}
.fill-OrangeDeepA1{ fill:#ff9e80;}
.fill-OrangeDeepA2{ fill:#ff6e40;}
.fill-OrangeDeepA4{ fill:#ff3d00;}
.fill-OrangeDeepA7{ fill:#dd2c00;}

.fill-Brown05{ fill:#efebe9;}
.fill-Brown1{ fill:#d7ccc8;}
.fill-Brown2{ fill:#bcaaa4;}
.fill-Brown3{ fill:#a1887f;}
.fill-Brown4{ fill:#8d6e63;}
.fill-Brown5{ fill:#795548;}
.fill-Brown6{ fill:#6d4c41;}
.fill-Brown7{ fill:#5d4037;}
.fill-Brown8{ fill:#4e342e;}
.fill-Brown9{ fill:#3e2723;}

.fill-Grey05{ fill:#fafafa;}
.fill-Grey1{ fill:#f5f5f5;}
.fill-Grey2{ fill:#eeeeee;}
.fill-Grey3{ fill:#e0e0e0;}
.fill-Grey4{ fill:#bdbdbd;}
.fill-Grey5{ fill:#9e9e9e;}
.fill-Grey6{ fill:#757575;}
.fill-Grey7{ fill:#616161;}
.fill-Grey8{ fill:#424242;}
.fill-Grey9{ fill:#212121;}

.fill-BlueGrey05{ fill:#eceff1;}
.fill-BlueGrey1{ fill:#cfd8dc;}
.fill-BlueGrey2{ fill:#b0bec5;}
.fill-BlueGrey3{ fill:#90a4ae;}
.fill-BlueGrey4{ fill:#78909c;}
.fill-BlueGrey5{ fill:#607d8b;}
.fill-BlueGrey6{ fill:#546e7a;}
.fill-BlueGrey7{ fill:#455a64;}
.fill-BlueGrey8{ fill:#37474f;}
.fill-BlueGrey9{ fill:#263238;}

.fill-Transparent{ fill:rgba(0, 0, 0, 0);}
.fill-Black{ fill:rgba(0, 0, 0, 1);}
.fill-Black1{ fill:rgba(0, 0, 0, 0.87);}
.fill-Black2{ fill:rgba(0, 0, 0, 0.54);}
.fill-Black3{ fill:rgba(0, 0, 0, 0.26);}
.fill-Black4{ fill:rgba(0, 0, 0, 0.12);}
.fill-White{ fill:rgba(255, 255, 255, 1);}
.fill-White1{ fill:rgba(255, 255, 255, 0.87);}
.fill-White2{ fill:rgba(255, 255, 255, 0.54);}

/*--------------*/

.borderColor-Red05{ border-color:#ffebee;}
.borderColor-Red1{ border-color:#ffcdd2;}
.borderColor-Red2{ border-color:#ef9a9a;}
.borderColor-Red3{ border-color:#e57373;}
.borderColor-Red4{ border-color:#ef5350;}
.borderColor-Red5{ border-color:#f44336;}
.borderColor-Red6{ border-color:#e53935;}
.borderColor-Red7{ border-color:#d32f2f;}
.borderColor-Red8{ border-color:#c62828;}
.borderColor-Red9{ border-color:#b71c1c;}
.borderColor-RedA1{ border-color:#ff8a80;}
.borderColor-RedA2{ border-color:#ff5252;}
.borderColor-RedA4{ border-color:#ff1744;}
.borderColor-RedA7{ border-color:#d50000;}

.borderColor-Pink05{ border-color:#fce4ec;}
.borderColor-Pink1{ border-color:#f8bbd0;}
.borderColor-Pink2{ border-color:#f48fb1;}
.borderColor-Pink3{ border-color:#f06292;}
.borderColor-Pink4{ border-color:#ec407a;}
.borderColor-Pink5{ border-color:#e91e63;}
.borderColor-Pink6{ border-color:#d81b60;}
.borderColor-Pink7{ border-color:#c2185b;}
.borderColor-Pink8{ border-color:#ad1457;}
.borderColor-Pink9{ border-color:#880e4f;}
.borderColor-PinkA1{ border-color:#ff80ab;}
.borderColor-PinkA2{ border-color:#ff4081;}
.borderColor-PinkA4{ border-color:#f50057;}
.borderColor-PinkA7{ border-color:#c51162;}

.borderColor-Purple05{ border-color:#f3e5f5;}
.borderColor-Purple1{ border-color:#e1bee7;}
.borderColor-Purple2{ border-color:#ce93d8;}
.borderColor-Purple3{ border-color:#ba68c8;}
.borderColor-Purple4{ border-color:#ab47bc;}
.borderColor-Purple5{ border-color:#9c27b0;}
.borderColor-Purple6{ border-color:#8e24aa;}
.borderColor-Purple7{ border-color:#7b1fa2;}
.borderColor-Purple8{ border-color:#6a1b9a;}
.borderColor-Purple9{ border-color:#4a148c;}
.borderColor-PurpleA1{ border-color:#ea80fc;}
.borderColor-PurpleA2{ border-color:#e040fb;}
.borderColor-PurpleA4{ border-color:#d500f9;}
.borderColor-PurpleA7{ border-color:#aa00ff;}

.borderColor-PurpleDeep05{ border-color:#ede7f6;}
.borderColor-PurpleDeep1{ border-color:#d1c4e9;}
.borderColor-PurpleDeep2{ border-color:#b39ddb;}
.borderColor-PurpleDeep3{ border-color:#9575cd;}
.borderColor-PurpleDeep4{ border-color:#7e57c2;}
.borderColor-PurpleDeep5{ border-color:#673ab7;}
.borderColor-PurpleDeep6{ border-color:#5e35b1;}
.borderColor-PurpleDeep7{ border-color:#512da8;}
.borderColor-PurpleDeep8{ border-color:#4527a0;}
.borderColor-PurpleDeep9{ border-color:#311b92;}
.borderColor-PurpleDeepA1{ border-color:#b388ff;}
.borderColor-PurpleDeepA2{ border-color:#7c4dff;}
.borderColor-PurpleDeepA4{ border-color:#651fff;}
.borderColor-PurpleDeepA7{ border-color:#6200ea;}

.borderColor-Indigo05{ border-color:#e8eaf6;}
.borderColor-Indigo1{ border-color:#c5cae9;}
.borderColor-Indigo2{ border-color:#9fa8da;}
.borderColor-Indigo3{ border-color:#7986cb;}
.borderColor-Indigo4{ border-color:#5c6bc0;}
.borderColor-Indigo5{ border-color:#3f51b5;}
.borderColor-Indigo6{ border-color:#3949ab;}
.borderColor-Indigo7{ border-color:#303f9f;}
.borderColor-Indigo8{ border-color:#283593;}
.borderColor-Indigo9{ border-color:#1a237e;}
.borderColor-IndigoA1{ border-color:#8c9eff;}
.borderColor-IndigoA2{ border-color:#536dfe;}
.borderColor-IndigoA4{ border-color:#3d5afe;}
.borderColor-IndigoA7{ border-color:#304ffe;}

.borderColor-Blue05{ border-color:#e3f2fd;}
.borderColor-Blue1{ border-color:#bbdefb;}
.borderColor-Blue2{ border-color:#90caf9;}
.borderColor-Blue3{ border-color:#64b5f6;}
.borderColor-Blue4{ border-color:#42a5f5;}
.borderColor-Blue5{ border-color:#2196f3;}
.borderColor-Blue6{ border-color:#1e88e5;}
.borderColor-Blue7{ border-color:#1976d2;}
.borderColor-Blue8{ border-color:#1565c0;}
.borderColor-Blue9{ border-color:#0d47a1;}
.borderColor-BlueA1{ border-color:#82b1ff;}
.borderColor-BlueA2{ border-color:#448aff;}
.borderColor-BlueA4{ border-color:#2979ff;}
.borderColor-BlueA7{ border-color:#2962ff;}

.borderColor-BlueLight05{ border-color:#e1f5fe;}
.borderColor-BlueLight1{ border-color:#b3e5fc;}
.borderColor-BlueLight2{ border-color:#81d4fa;}
.borderColor-BlueLight3{ border-color:#4fc3f7;}
.borderColor-BlueLight4{ border-color:#29b6f6;}
.borderColor-BlueLight5{ border-color:#03a9f4;}
.borderColor-BlueLight6{ border-color:#039be5;}
.borderColor-BlueLight7{ border-color:#0288d1;}
.borderColor-BlueLight8{ border-color:#0277bd;}
.borderColor-BlueLight9{ border-color:#01579b;}
.borderColor-BlueLightA1{ border-color:#80d8ff;}
.borderColor-BlueLightA2{ border-color:#40c4ff;}
.borderColor-BlueLightA4{ border-color:#00b0ff;}
.borderColor-BlueLightA7{ border-color:#0091ea;}

.borderColor-Cyan05{ border-color:#e0f7fa;}
.borderColor-Cyan1{ border-color:#b2ebf2;}
.borderColor-Cyan2{ border-color:#80deea;}
.borderColor-Cyan3{ border-color:#4dd0e1;}
.borderColor-Cyan4{ border-color:#26c6da;}
.borderColor-Cyan5{ border-color:#00bcd4;}
.borderColor-Cyan6{ border-color:#00acc1;}
.borderColor-Cyan7{ border-color:#0097a7;}
.borderColor-Cyan8{ border-color:#00838f;}
.borderColor-Cyan9{ border-color:#006064;}
.borderColor-CyanA1{ border-color:#84ffff;}
.borderColor-CyanA2{ border-color:#18ffff;}
.borderColor-CyanA4{ border-color:#00e5ff;}
.borderColor-CyanA7{ border-color:#00b8d4;}

.borderColor-Teal05{ border-color:#e0f2f1;}
.borderColor-Teal1{ border-color:#b2dfdb;}
.borderColor-Teal2{ border-color:#80cbc4;}
.borderColor-Teal3{ border-color:#4db6ac;}
.borderColor-Teal4{ border-color:#26a69a;}
.borderColor-Teal5{ border-color:#009688;}
.borderColor-Teal6{ border-color:#00897b;}
.borderColor-Teal7{ border-color:#00796b;}
.borderColor-Teal8{ border-color:#00695c;}
.borderColor-Teal9{ border-color:#004d40;}
.borderColor-TealA1{ border-color:#a7ffeb;}
.borderColor-TealA2{ border-color:#64ffda;}
.borderColor-TealA4{ border-color:#1de9b6;}
.borderColor-TealA7{ border-color:#00bfa5;}

.borderColor-Green05{ border-color:#e8f5e9;}
.borderColor-Green1{ border-color:#c8e6c9;}
.borderColor-Green2{ border-color:#a5d6a7;}
.borderColor-Green3{ border-color:#81c784;}
.borderColor-Green4{ border-color:#66bb6a;}
.borderColor-Green5{ border-color:#4caf50;}
.borderColor-Green6{ border-color:#43a047;}
.borderColor-Green7{ border-color:#388e3c;}
.borderColor-Green8{ border-color:#2e7d32;}
.borderColor-Green9{ border-color:#1b5e20;}
.borderColor-GreenA1{ border-color:#b9f6ca;}
.borderColor-GreenA2{ border-color:#69f0ae;}
.borderColor-GreenA4{ border-color:#00e676;}
.borderColor-GreenA7{ border-color:#00c853;}

.borderColor-GreenLight05{ border-color:#f1f8e9;}
.borderColor-GreenLight1{ border-color:#dcedc8;}
.borderColor-GreenLight2{ border-color:#c5e1a5;}
.borderColor-GreenLight3{ border-color:#aed581;}
.borderColor-GreenLight4{ border-color:#9ccc65;}
.borderColor-GreenLight5{ border-color:#8bc34a;}
.borderColor-GreenLight6{ border-color:#7cb342;}
.borderColor-GreenLight7{ border-color:#689f38;}
.borderColor-GreenLight8{ border-color:#558b2f;}
.borderColor-GreenLight9{ border-color:#33691e;}
.borderColor-GreenLightA1{ border-color:#ccff90;}
.borderColor-GreenLightA2{ border-color:#b2ff59;}
.borderColor-GreenLightA4{ border-color:#76ff03;}
.borderColor-GreenLightA7{ border-color:#64dd17;}

.borderColor-Lime05{ border-color:#f9fbe7;}
.borderColor-Lime1{ border-color:#f0f4c3;}
.borderColor-Lime2{ border-color:#e6ee9c;}
.borderColor-Lime3{ border-color:#dce775;}
.borderColor-Lime4{ border-color:#d4e157;}
.borderColor-Lime5{ border-color:#cddc39;}
.borderColor-Lime6{ border-color:#c0ca33;}
.borderColor-Lime7{ border-color:#afb42b;}
.borderColor-Lime8{ border-color:#9e9d24;}
.borderColor-Lime9{ border-color:#827717;}
.borderColor-LimeA1{ border-color:#f4ff81;}
.borderColor-LimeA2{ border-color:#eeff41;}
.borderColor-LimeA4{ border-color:#c6ff00;}
.borderColor-LimeA7{ border-color:#aeea00;}

.borderColor-Yellow05{ border-color:#fffde7;}
.borderColor-Yellow1{ border-color:#fff9c4;}
.borderColor-Yellow2{ border-color:#fff59d;}
.borderColor-Yellow3{ border-color:#fff176;}
.borderColor-Yellow4{ border-color:#ffee58;}
.borderColor-Yellow5{ border-color:#ffeb3b;}
.borderColor-Yellow6{ border-color:#fdd835;}
.borderColor-Yellow7{ border-color:#fbc02d;}
.borderColor-Yellow8{ border-color:#f9a825;}
.borderColor-Yellow9{ border-color:#f57f17;}
.borderColor-YellowA1{ border-color:#ffff8d;}
.borderColor-YellowA2{ border-color:#ffff00;}
.borderColor-YellowA4{ border-color:#ffea00;}
.borderColor-YellowA7{ border-color:#ffd600;}

.borderColor-Amber05{ border-color:#fff8e1;}
.borderColor-Amber1{ border-color:#ffecb3;}
.borderColor-Amber2{ border-color:#ffe082;}
.borderColor-Amber3{ border-color:#ffd54f;}
.borderColor-Amber4{ border-color:#ffca28;}
.borderColor-Amber5{ border-color:#ffc107;}
.borderColor-Amber6{ border-color:#ffb300;}
.borderColor-Amber7{ border-color:#ffa000;}
.borderColor-Amber8{ border-color:#ff8f00;}
.borderColor-Amber9{ border-color:#3a2525;}
.borderColor-AmberA1{ border-color:#ffe57f;}
.borderColor-AmberA2{ border-color:#ffd740;}
.borderColor-AmberA4{ border-color:#ffc400;}
.borderColor-AmberA7{ border-color:#ffab00;}

.borderColor-Orange05{ border-color:#fff3e0;}
.borderColor-Orange1{ border-color:#ffe0b2;}
.borderColor-Orange2{ border-color:#ffcc80;}
.borderColor-Orange3{ border-color:#ffb74d;}
.borderColor-Orange4{ border-color:#ffa726;}
.borderColor-Orange5{ border-color:#ff9800;}
.borderColor-Orange6{ border-color:#fb8c00;}
.borderColor-Orange7{ border-color:#f57c00;}
.borderColor-Orange8{ border-color:#ef6c00;}
.borderColor-Orange9{ border-color:#e65100;}
.borderColor-OrangeA1{ border-color:#ffd180;}
.borderColor-OrangeA2{ border-color:#ffab40;}
.borderColor-OrangeA4{ border-color:#ff9100;}
.borderColor-OrangeA7{ border-color:#ff6d00;}

.borderColor-OrangeDeep05{ border-color:#fbe9e7;}
.borderColor-OrangeDeep1{ border-color:#ffccbc;}
.borderColor-OrangeDeep2{ border-color:#ffab91;}
.borderColor-OrangeDeep3{ border-color:#ff8a65;}
.borderColor-OrangeDeep4{ border-color:#ff7043;}
.borderColor-OrangeDeep5{ border-color:#ff5722;}
.borderColor-OrangeDeep6{ border-color:#f4511e;}
.borderColor-OrangeDeep7{ border-color:#e64a19;}
.borderColor-OrangeDeep8{ border-color:#d84315;}
.borderColor-OrangeDeep9{ border-color:#bf360c;}
.borderColor-OrangeDeepA1{ border-color:#ff9e80;}
.borderColor-OrangeDeepA2{ border-color:#ff6e40;}
.borderColor-OrangeDeepA4{ border-color:#ff3d00;}
.borderColor-OrangeDeepA7{ border-color:#dd2c00;}

.borderColor-Brown05{ border-color:#efebe9;}
.borderColor-Brown1{ border-color:#d7ccc8;}
.borderColor-Brown2{ border-color:#bcaaa4;}
.borderColor-Brown3{ border-color:#a1887f;}
.borderColor-Brown4{ border-color:#8d6e63;}
.borderColor-Brown5{ border-color:#795548;}
.borderColor-Brown6{ border-color:#6d4c41;}
.borderColor-Brown7{ border-color:#5d4037;}
.borderColor-Brown8{ border-color:#4e342e;}
.borderColor-Brown9{ border-color:#3e2723;}

.borderColor-Grey05{ border-color:#fafafa;}
.borderColor-Grey1{ border-color:#f5f5f5;}
.borderColor-Grey2{ border-color:#eeeeee;}
.borderColor-Grey3{ border-color:#e0e0e0;}
.borderColor-Grey4{ border-color:#bdbdbd;}
.borderColor-Grey5{ border-color:#9e9e9e;}
.borderColor-Grey6{ border-color:#757575;}
.borderColor-Grey7{ border-color:#616161;}
.borderColor-Grey8{ border-color:#424242;}
.borderColor-Grey9{ border-color:#212121;}

.borderColor-BlueGrey05{ border-color:#eceff1;}
.borderColor-BlueGrey1{ border-color:#cfd8dc;}
.borderColor-BlueGrey2{ border-color:#b0bec5;}
.borderColor-BlueGrey3{ border-color:#90a4ae;}
.borderColor-BlueGrey4{ border-color:#78909c;}
.borderColor-BlueGrey5{ border-color:#607d8b;}
.borderColor-BlueGrey6{ border-color:#546e7a;}
.borderColor-BlueGrey7{ border-color:#455a64;}
.borderColor-BlueGrey8{ border-color:#37474f;}
.borderColor-BlueGrey9{ border-color:#263238;}

.borderColor-Transparent{ border-color:rgba(0, 0, 0, 0);}
.borderColor-Black{ border-color:rgba(0, 0, 0, 1);}
.borderColor-Black1{ border-color:rgba(0, 0, 0, 0.87);}
.borderColor-Black2{ border-color:rgba(0, 0, 0, 0.54);}
.borderColor-Black3{ border-color:rgba(0, 0, 0, 0.26);}
.borderColor-Black4{ border-color:rgba(0, 0, 0, 0.12);}
.borderColor-White{ border-color:rgba(255, 255, 255, 1);}
.borderColor-White1{ border-color:rgba(255, 255, 255, 0.87);}
.borderColor-White2{ border-color:rgba(255, 255, 255, 0.54);}
