.red05{ background-color:#ffebee;}
.red1{ background-color:#ffcdd2;}
.red2{ background-color:#ef9a9a;}
.red3{ background-color:#e57373;}
.red4{ background-color:#ef5350;}
.red5{ background-color:#f44336;}
.red6{ background-color:#e53935;}
.red7{ background-color:#d32f2f;}
.red8{ background-color:#c62828;}
.red9{ background-color:#b71c1c;}
.redA1{ background-color:#ff8a80;}
.redA2{ background-color:#ff5252;}
.redA4{ background-color:#ff1744;}
.redA7{ background-color:#d50000;}

.pink05{ background-color:#fce4ec;}
.pink1{ background-color:#f8bbd0;}
.pink2{ background-color:#f48fb1;}
.pink3{ background-color:#f06292;}
.pink4{ background-color:#ec407a;}
.pink5{ background-color:#e91e63;}
.pink6{ background-color:#d81b60;}
.pink7{ background-color:#c2185b;}
.pink8{ background-color:#ad1457;}
.pink9{ background-color:#880e4f;}
.pinkA1{ background-color:#ff80ab;}
.pinkA2{ background-color:#ff4081;}
.pinkA4{ background-color:#f50057;}
.pinkA7{ background-color:#c51162;}

.purple05{ background-color:#f3e5f5;}
.purple1{ background-color:#e1bee7;}
.purple2{ background-color:#ce93d8;}
.purple3{ background-color:#ba68c8;}
.purple4{ background-color:#ab47bc;}
.purple5{ background-color:#9c27b0;}
.purple6{ background-color:#8e24aa;}
.purple7{ background-color:#7b1fa2;}
.purple8{ background-color:#6a1b9a;}
.purple9{ background-color:#4a148c;}
.purpleA1{ background-color:#ea80fc;}
.purpleA2{ background-color:#e040fb;}
.purpleA4{ background-color:#d500f9;}
.purpleA7{ background-color:#aa00ff;}

.purpleDeep05{ background-color:#ede7f6;}
.purpleDeep1{ background-color:#d1c4e9;}
.purpleDeep2{ background-color:#b39ddb;}
.purpleDeep3{ background-color:#9575cd;}
.purpleDeep4{ background-color:#7e57c2;}
.purpleDeep5{ background-color:#673ab7;}
.purpleDeep6{ background-color:#5e35b1;}
.purpleDeep7{ background-color:#512da8;}
.purpleDeep8{ background-color:#4527a0;}
.purpleDeep9{ background-color:#311b92;}
.purpleDeepA1{ background-color:#b388ff;}
.purpleDeepA2{ background-color:#7c4dff;}
.purpleDeepA4{ background-color:#651fff;}
.purpleDeepA7{ background-color:#6200ea;}

.indigo05{ background-color:#e8eaf6;}
.indigo1{ background-color:#c5cae9;}
.indigo2{ background-color:#9fa8da;}
.indigo3{ background-color:#7986cb;}
.indigo4{ background-color:#5c6bc0;}
.indigo5{ background-color:#3f51b5;}
.indigo6{ background-color:#3949ab;}
.indigo7{ background-color:#303f9f;}
.indigo8{ background-color:#283593;}
.indigo9{ background-color:#1a237e;}
.indigoA1{ background-color:#8c9eff;}
.indigoA2{ background-color:#536dfe;}
.indigoA4{ background-color:#3d5afe;}
.indigoA7{ background-color:#304ffe;}

.blue05{ background-color:#e3f2fd;}
.blue1{ background-color:#bbdefb;}
.blue2{ background-color:#90caf9;}
.blue3{ background-color:#64b5f6;}
.blue4{ background-color:#42a5f5;}
.blue5{ background-color:#2196f3;}
.blue6{ background-color:#1e88e5;}
.blue7{ background-color:#1976d2;}
.blue8{ background-color:#1565c0;}
.blue9{ background-color:#0d47a1;}
.blueA1{ background-color:#82b1ff;}
.blueA2{ background-color:#448aff;}
.blueA4{ background-color:#2979ff;}
.blueA7{ background-color:#2962ff;}

.blueLight05{ background-color:#e1f5fe;}
.blueLight1{ background-color:#b3e5fc;}
.blueLight2{ background-color:#81d4fa;}
.blueLight3{ background-color:#4fc3f7;}
.blueLight4{ background-color:#29b6f6;}
.blueLight5{ background-color:#03a9f4;}
.blueLight6{ background-color:#039be5;}
.blueLight7{ background-color:#0288d1;}
.blueLight8{ background-color:#0277bd;}
.blueLight9{ background-color:#01579b;}
.blueLightA1{ background-color:#80d8ff;}
.blueLightA2{ background-color:#40c4ff;}
.blueLightA4{ background-color:#00b0ff;}
.blueLightA7{ background-color:#0091ea;}

.cyan05{ background-color:#e0f7fa;}
.cyan1{ background-color:#b2ebf2;}
.cyan2{ background-color:#80deea;}
.cyan3{ background-color:#4dd0e1;}
.cyan4{ background-color:#26c6da;}
.cyan5{ background-color:#00bcd4;}
.cyan6{ background-color:#00acc1;}
.cyan7{ background-color:#0097a7;}
.cyan8{ background-color:#00838f;}
.cyan9{ background-color:#006064;}
.cyanA1{ background-color:#84ffff;}
.cyanA2{ background-color:#18ffff;}
.cyanA4{ background-color:#00e5ff;}
.cyanA7{ background-color:#00b8d4;}

.teal05{ background-color:#e0f2f1;}
.teal1{ background-color:#b2dfdb;}
.teal2{ background-color:#80cbc4;}
.teal3{ background-color:#4db6ac;}
.teal4{ background-color:#26a69a;}
.teal5{ background-color:#009688;}
.teal6{ background-color:#00897b;}
.teal7{ background-color:#00796b;}
.teal8{ background-color:#00695c;}
.teal9{ background-color:#004d40;}
.tealA1{ background-color:#a7ffeb;}
.tealA2{ background-color:#64ffda;}
.tealA4{ background-color:#1de9b6;}
.tealA7{ background-color:#00bfa5;}

.green05{ background-color:#e8f5e9;}
.green1{ background-color:#c8e6c9;}
.green2{ background-color:#a5d6a7;}
.green3{ background-color:#81c784;}
.green4{ background-color:#66bb6a;}
.green5{ background-color:#4caf50;}
.green6{ background-color:#43a047;}
.green7{ background-color:#388e3c;}
.green8{ background-color:#2e7d32;}
.green9{ background-color:#1b5e20;}
.greenA1{ background-color:#b9f6ca;}
.greenA2{ background-color:#69f0ae;}
.greenA4{ background-color:#00e676;}
.greenA7{ background-color:#00c853;}

.greenLight05{ background-color:#f1f8e9;}
.greenLight1{ background-color:#dcedc8;}
.greenLight2{ background-color:#c5e1a5;}
.greenLight3{ background-color:#aed581;}
.greenLight4{ background-color:#9ccc65;}
.greenLight5{ background-color:#8bc34a;}
.greenLight6{ background-color:#7cb342;}
.greenLight7{ background-color:#689f38;}
.greenLight8{ background-color:#558b2f;}
.greenLight9{ background-color:#33691e;}
.greenLightA1{ background-color:#ccff90;}
.greenLightA2{ background-color:#b2ff59;}
.greenLightA4{ background-color:#76ff03;}
.greenLightA7{ background-color:#64dd17;}

.lime05{ background-color:#f9fbe7;}
.lime1{ background-color:#f0f4c3;}
.lime2{ background-color:#e6ee9c;}
.lime3{ background-color:#dce775;}
.lime4{ background-color:#d4e157;}
.lime5{ background-color:#cddc39;}
.lime6{ background-color:#c0ca33;}
.lime7{ background-color:#afb42b;}
.lime8{ background-color:#9e9d24;}
.lime9{ background-color:#827717;}
.limeA1{ background-color:#f4ff81;}
.limeA2{ background-color:#eeff41;}
.limeA4{ background-color:#c6ff00;}
.limeA7{ background-color:#aeea00;}

.yellow05{ background-color:#fffde7;}
.yellow1{ background-color:#fff9c4;}
.yellow2{ background-color:#fff59d;}
.yellow3{ background-color:#fff176;}
.yellow4{ background-color:#ffee58;}
.yellow5{ background-color:#ffeb3b;}
.yellow6{ background-color:#fdd835;}
.yellow7{ background-color:#fbc02d;}
.yellow8{ background-color:#f9a825;}
.yellow9{ background-color:#f57f17;}
.yellowA1{ background-color:#ffff8d;}
.yellowA2{ background-color:#ffff00;}
.yellowA4{ background-color:#ffea00;}
.yellowA7{ background-color:#ffd600;}

.amber05{ background-color:#fff8e1;}
.amber1{ background-color:#ffecb3;}
.amber2{ background-color:#ffe082;}
.amber3{ background-color:#ffd54f;}
.amber4{ background-color:#ffca28;}
.amber5{ background-color:#ffc107;}
.amber6{ background-color:#ffb300;}
.amber7{ background-color:#ffa000;}
.amber8{ background-color:#ff8f00;}
.amber9{ background-color:#3a2525;}
.amberA1{ background-color:#ffe57f;}
.amberA2{ background-color:#ffd740;}
.amberA4{ background-color:#ffc400;}
.amberA7{ background-color:#ffab00;}

.orange05{ background-color:#fff3e0;}
.orange1{ background-color:#ffe0b2;}
.orange2{ background-color:#ffcc80;}
.orange3{ background-color:#ffb74d;}
.orange4{ background-color:#ffa726;}
.orange5{ background-color:#ff9800;}
.orange6{ background-color:#fb8c00;}
.orange7{ background-color:#f57c00;}
.orange8{ background-color:#ef6c00;}
.orange9{ background-color:#e65100;}
.orangeA1{ background-color:#ffd180;}
.orangeA2{ background-color:#ffab40;}
.orangeA4{ background-color:#ff9100;}
.orangeA7{ background-color:#ff6d00;}

.orangeDeep05{ background-color:#fbe9e7;}
.orangeDeep1{ background-color:#ffccbc;}
.orangeDeep2{ background-color:#ffab91;}
.orangeDeep3{ background-color:#ff8a65;}
.orangeDeep4{ background-color:#ff7043;}
.orangeDeep5{ background-color:#ff5722;}
.orangeDeep6{ background-color:#f4511e;}
.orangeDeep7{ background-color:#e64a19;}
.orangeDeep8{ background-color:#d84315;}
.orangeDeep9{ background-color:#bf360c;}
.orangeDeepA1{ background-color:#ff9e80;}
.orangeDeepA2{ background-color:#ff6e40;}
.orangeDeepA4{ background-color:#ff3d00;}
.orangeDeepA7{ background-color:#dd2c00;}

.brown05{ background-color:#efebe9;}
.brown1{ background-color:#d7ccc8;}
.brown2{ background-color:#bcaaa4;}
.brown3{ background-color:#a1887f;}
.brown4{ background-color:#8d6e63;}
.brown5{ background-color:#795548;}
.brown6{ background-color:#6d4c41;}
.brown7{ background-color:#5d4037;}
.brown8{ background-color:#4e342e;}
.brown9{ background-color:#3e2723;}

.grey05{ background-color:#fafafa;}
.grey1{ background-color:#f5f5f5;}
.grey2{ background-color:#eeeeee;}
.grey3{ background-color:#e0e0e0;}
.grey4{ background-color:#bdbdbd;}
.grey5{ background-color:#9e9e9e;}
.grey6{ background-color:#757575;}
.grey7{ background-color:#616161;}
.grey8{ background-color:#424242;}
.grey9{ background-color:#212121;}

.blueGrey05{ background-color:#eceff1;}
.blueGrey1{ background-color:#cfd8dc;}
.blueGrey2{ background-color:#b0bec5;}
.blueGrey3{ background-color:#90a4ae;}
.blueGrey4{ background-color:#78909c;}
.blueGrey5{ background-color:#607d8b;}
.blueGrey6{ background-color:#546e7a;}
.blueGrey7{ background-color:#455a64;}
.blueGrey8{ background-color:#37474f;}
.blueGrey9{ background-color:#263238;}

.transparent{ background-color:rgba(0, 0, 0, 0);}
.black{ background-color:rgba(0, 0, 0, 1);}
.black1{ background-color:rgba(0, 0, 0, 0.87);}
.black2{ background-color:rgba(0, 0, 0, 0.54);}
.black3{ background-color:rgba(0, 0, 0, 0.26);}
.black4{ background-color:rgba(0, 0, 0, 0.12);}
.white{ background-color:rgba(255, 255, 255, 1);}
.white1{ background-color:rgba(255, 255, 255, 0.87);}
.white2{ background-color:rgba(255, 255, 255, 0.54);}
