.fb-h{
  display: flex;
  flex-direction: row;
}
.fb-v{
  display: flex;
  flex-direction: column;
  height:100%;
}
.fb-h.wrap,
.fb-v.wrap{
  flex-wrap: wrap;
}
.fb-h.m-start,
.fb-v.m-start {
  justify-content: flex-start;
}

.fb-h.m-center,
.fb-v.m-center {
  justify-content: center;
}

.fb-h.m-end,
.fb-v.m-end {
  justify-content: flex-end;
}

.fb-h.m-between,
.fb-v.m-between {
  justify-content: space-between;
}
.fb-h.m-around ,
.fb-v.m-around {
  justify-content: space-around;
}


.fb-h.c-start,
.fb-v.c-start {
  align-items: flex-start;
}
.fb-h.c-center,
.fb-v.c-center {
  align-items: center;
}
.fb-h.c-end,
.fb-v.c-end {
  align-items: flex-end;
}
.fb-h.c-baseline,
.fb-v.c-baseline {
  align-items: baseline;
}
.fb-h.c-stretch,
.fb-v.c-stretch {
  align-items: stretch;
}

.fb-h .flex ,
.fb-v .flex ,
.fb-h .flex1 ,
.fb-v .flex1 {
  flex: 1;
}
.fb-h .flex2 ,
.fb-v .flex2 {
  flex: 2;
}
.fb-h .flex3 ,
.fb-v .flex3 {
  flex: 3;
}
.fb-h .flex4 ,
.fb-v .flex4 {
  flex: 4;
}
.fb-h .flex5 ,
.fb-v .flex5 {
  flex: 5;
}
.fbox-h .flex6 ,
.fbox-v .flex6 {
  flex: 6;
}
.fbox-h .flex7 ,
.fbox-v .flex7 {
  flex: 7;
}
.fbox-h .flex8 ,
.fbox-v .flex8 {
  flex: 8;
}
.fbox-h .flex9 ,
.fbox-v .flex9 {
  flex: 9;
}
.fbox-h .flex10 ,
.fbox-v .flex10 {
  flex: 10;
}
.fbox-h .flex11 ,
.fbox-v .flex11 {
  flex: 11;
}
.fbox-h .flex12 ,
.fbox-v .flex12 {
  flex: 12;
}
