/*------------------*/
.overflow-hidden { overflow: hidden; }
.overflow-auto { overflow: auto; }
/*------------------*/
.fixed { position: fixed; }
.relative { position: relative; }
.absolute { position: absolute; }
/*------------------*/
.left { float: left; }
.right { float: right; }
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
